.MessageUser{
    margin-right: 25px;
}

.dialogsMessageText{
    width: 20em;
    background-color:  rgb(240, 240, 255);
    padding: 5px 20px 20px 0;
    border: 1px rgb(0, 0, 0, 0.25) solid;
    border-radius: 10px;
}

.dialogsMessage{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0 0 30px;
}
.MessageText{
    word-wrap: break-word;
    padding: 15px;
}

.MessageUserAvatar{
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
