.dialogsUser{
    margin: 15px 0;
   /* padding: 5px; */
   
}
.dialogsUser > a{
    padding: 10px 5px;
    color: black;
    text-decoration: none;
}

.dialogsUser > a:hover{
    color: rgb(102, 150, 255);
    font-size: large;
}

